.Navbar-body {
    background-color: #89A8B2;
    padding: 20px;
}

.Navbar-title {
    margin: 0 15px 0 0;
    font-size: 24px;
    color: #F1F0E8;
    text-decoration: none;
    font-weight: bold;
}

.Navbar-text {
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}